<figure class="table" style="width:100%;">
    <table style="border-collapse:collapse;margin:40px auto;max-width:600px;">
        <tbody>
        <tr>
            <td style="background-color:#008080;color:#ffffff;font-size:24px;padding:20px;text-align:center;">Welcome to MedTech Chain</td>
        </tr>
        <tr>
            <td style="background-color:#ffffff;padding:20px;text-align:left;">
                <p th:text="'Dear ' + ${name} + ','" ></p>
                <p>You have been registered in MedTech Chain. Your credentials are:</p>
                <p><strong>Username: </strong><span th:text="${username}" ></span></p>
                <p><strong>Password: </strong><span th:text="${password}" ></span></p>
                <p>Please make sure to change your password upon first login for security purposes.</p>
                <p>Best regards,</p>
                <p>MedTech Chain</p>
            </td>
        </tr>
        <tr>
            <td style="background-color:#47646f;color:#ffffff;font-size:14px;padding:10px;text-align:center;">&copy; 2024 MedTech Chain. All rights reserved.</td>
        </tr>
        </tbody>
    </table>
</figure>